.root {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-background-color: #f0f0f0;
}
#boardGrid {
    -fx-background-color: #006000;
    -fx-border-color: #333333;
    -fx-border-width: 4px;
    -fx-border-radius: 5px;
    -fx-padding: 1px;
}
.game-cell {
    -fx-background-color: #4CAF50;
    -fx-border-color: #388E3C;
    -fx-border-width: 1px;
    -fx-cursor: hand;
}
.game-cell:hover {
    -fx-background-color: #66BB6A;
}
.piece-black {
    -fx-fill: #1a1a1a;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 5, 0.0, 0, 1);
}
.piece-white {
    -fx-fill: #ededed;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 5, 0.0, 0, 1);
}
.start{

    -fx-background-image: url("../img/background.jpg");
    -fx-background-size: cover;
    /*-fx-background-color: #006000;*/
}
.img{
    -fx-background-color: black;
}
.pretty-button{
    -fx-font-family: "Microsoft Sans Serif";
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-background-radius: 12px;
    -fx-padding: 8 6;
    -fx-border-width: 2px;
    -fx-min-width: 160px;
    -fx-cursor: hand;
}
.vbox{
    -fx-spacing: 20;
}
.home{
    /*-fx-background-color: #006000;*/
    -fx-background-image: url("../img/background.jpg");
    -fx-background-size: cover;
    -fx-border-color: #333333;
    -fx-border-width: 5px;
    /*-fx-background-radius: 45px;*/
    /*-fx-border-radius:45px;*/
    -fx-padding: 20px;
}
.btn{
    -fx-font-family: "Microsoft Sans Serif";
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-background-radius: 12px;
    -fx-padding: 8 6;
    -fx-border-width: 3px;
    -fx-min-width: 160px;
    -fx-cursor: hand;
}
/*#buttonNvsN{*/
/*    -fx-background-color: black;*/
/*    -fx-alignment: center;*/
/*    -fx-background-radius: 5px;*/
/*    -fx-font-size: 25px;*/
/*    -fx-font-weight: bold;*/
/*    -fx-font-family: "Times New Roman";*/
/*    -fx-padding: 25px;*/
/*    -fx-border-width: 3px;*/
/*    -fx-border-color: white;*/
/*    -fx-border-radius:2px;*/

/*}*/
/*#buttonNvsM{*/
/*    -fx-background-color: black;*/
/*    -fx-alignment: center;*/
/*    -fx-background-radius: 5px;*/
/*    -fx-font-size: 25px;*/
/*    -fx-font-weight: bold;*/
/*    -fx-font-family: "Times New Roman";*/
/*    -fx-padding: 25px;*/
/*    -fx-border-width: 3px;*/
/*    -fx-border-color: white;*/
/*    -fx-border-radius:2px;*/
/*}*/
/*#buttonDe{*/
/*    -fx-background-color: black;*/
/*    -fx-alignment: center;*/
/*    -fx-background-radius: 5px;*/
/*    -fx-font-size: 25px;*/
/*    -fx-font-weight: bold;*/
/*    -fx-font-family: "Times New Roman";*/
/*    -fx-padding: 25px;*/
/*    -fx-border-width: 3px;*/
/*    -fx-border-color: white;*/
/*    -fx-border-radius:2px;*/
/*}*/
/*#buttonKho{*/
/*    -fx-background-color: black;*/
/*    -fx-alignment: center;*/
/*    -fx-background-radius: 5px;*/
/*    -fx-font-size: 25px;*/
/*    -fx-font-weight: bold;*/
/*    -fx-font-family: "Times New Roman";*/
/*    -fx-padding: 25px;*/
/*    -fx-border-width: 3px;*/
/*    -fx-border-color: white;*/
/*    -fx-border-radius:2px;*/

/*}*/
